		#container {
		margin:0;
		}
		
		body{ background-image:url('../img/bkg2.png');
		background-position:center top;
		}
		
		body #loading {
			background-image:url("../img/loading_09.png");
			background-position:center;
			width:301px;
			height:98px;
			z-index:1;
		}
		
		#main{ 
		width:960px;
		height: 1000px;
		margin-right: auto;
		margin-left: auto;
		box-shadow:0 0 10px black;
		}
		
		#loadingImg {
		margin:125px 275px;
		}
		
		#service {
			float:left;
			margin-top:-350px;
			margin-left:175px;
			background-image:url("../img/out_of_service_03.png");
			background-position:center;
			width:565px;
			height:197px;
			z-index:1;
		}
		#beta {
			background-image:url("../img/beta_03.png");
			margin-left:475px;
			margin-top:-155px;
			width:59px;
			height:29px;
		}
		#loadingSignImg {
		margin: 40px 55px;
		width:225px;
		}
		
		#thanksSign{
		background-image:url("../img/thanks_for_submitting_09.png");
		margin-right: auto;
		margin-left: auto;
		margin-top: -100px;
		margin-bottom: auto;
		width:410px;
		height:317px;
		background-repeat:no-repeat;
		}
		
		
		body #feedback {
			font-family:Arial, Helvetica, sans-serif;
			color:#FFF;
            position:fixed;
			display:block;
			width:960px;
			bottom:0px;
		}
		#feedbackTab {
			background-image:url("../img/feedback_12.png");
			background-position:center;
			margin:0;
			width:960px;
			height:34px;
			cursor:pointer;
			z-index:2;
		}
		
		#feedbackBody {
			background-image:url("../img/Feedback_bkg_14.png");
			background-position:center;
			width:960px;
			height:292px;
			margin:0;
			z-index:1;
            display:none;
		}
		#feedback #feedbackBody #comments {
			float:left;
			margin-top:10px;
		}
		#feedback #feedbackBody #comments h2 {
			font-family:Arial, Helvetica, sans-serif;
			font-size:18px;
			margin-left:20px;
			margin-top:0px;
		}
		#feedback #feedbackBody #comments .commentsTxt {
			margin-left:20px;
			margin-top:10px;
			width:350px;
			height:175px;
		}
		#feedback #feedbackBody #comments #commentsSubmit {
			float:left;
			background:url("../img/feedback_submit_16.png");
			font-size:0;
			height:27px;
			width:72px;
			cursor:pointer;
			border:none;
			float:left;
			margin-left:300px;
			margin-top:13px;
		}
		#feedback #feedbackBody #problems {
			float:left;
			margin-top:10px;
			margin-left:50px;
			height:290px;
			width:400px;
		}
		#feedback #feedbackBody #problems h2 {
			font-size:18px;
			margin-top:0px;
			margin:0;
		}
		#feedback #feedbackBody #problems #email {
			margin-top:10px;
		}
		#feedback #feedbackBody #problems .emailBox {
			margin-left:33px;
		}
		#feedback #feedbackBody #problems #problem {
			float:left;
			margin-top:10px;
		}
		#feedback #feedbackBody #problems .problemBox {
			float:left;
			margin-top:10px;
			width:300px;
			height:145px;
			margin-left:10px;
		}
		#feedback #feedbackBody #problems #problemsSubmit {
			background:url("../img/feedback_submit_16.png");
			font-size:0;
			height:27px;
			width:72px;
			cursor:pointer;
			border:none;
			float:left;
			margin-left:310px;
			margin-top:13px;
		}
		
		
		#header { 
		margin:0;
		background-image: url('../img/navigation_bkg.png');
		width: 100%;
		height: 40px;
		}
		
		#header  #links {
		padding:0;
		margin:0;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		text-shadow:black .1em .2em .8em;
		height:0px;
		}

		
		#header #links .leftNav {
		float:left;
		list-style-type: none;
		display:inline;
		padding:0;
		margin-left:30px;
		margin-top:10px;
		margin-right:0px;
		margin-bottom:10px;
		-webkit-padding-start:0px;
		}
		
		#header  #links .leftNav .leftLink {
		float:left;
		display: inline;
		padding:0;
		margin-left:90px;
		padding-right:0px;
		}
		
		#header  #links .leftNav .leftLink a {
		float:left;
		text-decoration:none;
		color:white;
		margin:0;
		}
		
		#header #links .rightNav {
		float:left;
		list-style-type: none;
		display:inline;
		padding:0;
		margin-left:160px;
		margin-top:10px;
		margin-bottom:10px;
		-webkit-padding-start:0px;
		}
		
		#header #links .rightNav .rightLink {
		float:left;
		display: inline;
		padding:0;
		margin-left:90px;
		margin-right:0px;
		}
		
		#header #links .rightNav .rightLink a {
		float:left;
		text-decoration:none;
		margin:0;
		color:white;
		}
		
		#header #social {
		float:right;
		padding:0;
		margin-top:10px;
		margin-right:30px;
		text-shadow:none;
		height:30px;
		width:70px;
		}
		
		
		#header #social #socialList {
		float:right;
		padding:0;
		margin:0;
		list-style-type:none;
		text-decoration:none;
		display:inline;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		}
		#header #social #socialList li {
		float:right;
		height:0px;
		margin:0;
		padding:0;
		}
		
		
		#header #social #socialList #facebook {
		float:right;
		margin-top:0px;
		margin-right:30px;
		padding:0;
		background-image:url('../img/facebook.png');
		width:20px;
		height:20px;
		text-indent:-999999px;
		}
		#header #social #socialList #twitter {
		float:right;
		margin:0;
		padding:0;
		background-image:url('../img/twitter.png');
		width:20px;
		height:20px;
		text-indent:-999999px;
		}
		
		#header #pagesLinks {
			float:left;
			margin-left:10px;
			margin-top:0px;
			display:inline;
			width:200px;
			height:18px;
		}
		#header #pagesLinks .pagesLink {
			margin-left:10px;
		}
		#header #pagesLinks #generalUp {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_general_up_05.png");
		}
		#header #pagesLinks #generalDown {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_general_down_05.png");
		}
		#header #pagesLinks #generalDown:hover {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_general_up_05.png");
		}
		#header #pagesLinks #greeksUp {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_greek_up_05.png");
		}
		#header #pagesLinks #greeksDown {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_greek_down_05.png");
		}
		#header #pagesLinks #greeksDown:hover {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_greek_up_05.png");
		}
		#header #pagesLinks #corpsUp {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_corps_up_05.png");
		}
		#header #pagesLinks #corpsDown {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_corps_down_05.png");
		}
		#header #pagesLinks #corpsDown:hover {
			float:left;
			margin-top:0px;
			height:18px;
			width:42px;
			background-image:url("../img/pages_link_corps_up_05.png");
		}
		#logo{ margin-right:auto;
		margin-left:0px;
		margin-top: -35px;
		}
		
		#top {background-image: url('../img/Logo_02.png');
		background-repeat:no-repeat;
		height:250px;
		}
		
		
		
		
		h1, h2, h3, h4 {color: white;
		font-family: Arial;
		}
		
		p{color: white;
		font-family: Arial;
		}
		
		
		div.textRaised {margin-left: 40px;
		line-height:8px;
		float:left;
		width:92%;}
		
		h1.textRaised {font-size:265%;}
		
		div#dare{float:right;
		background-image: url('../img/dare_bkg.png');
		margin-top:40px;
		width:362px;
		height:156px;}
		
		#dareText{width:55%;
		float:left;
		margin-left:20px;}
		
		#dareText h2 {font-size:130%;}
		
		div.candle {float:right;
		width:35%;}
		
		img.textRaised {margin-top:-10px;}
		
		#candles {width:200px;}
		
		img.candle{float:right;
		margin:20px 15px 0 0;}
		
		h4.five{line-height:5px;}
		
		.sponsor{background-image:url('../img/fundraiser_bkg_13.png');
		width:180px;
		height:300px;
		float:left;
		margin-left:47px;
		background-repeat:no-repeat;
		background-size:100% 100%;
		
		}
		
		.sponsor .sponsorHeader{
		background-image:url('../img/fundraiser_title_13.png');
		background-repeat:no-repeat;
		width:180px;
		height:39px;}
		
		.sponsor .sponsorHeader .sponsor_title {
			margin:0;
			padding-top:5px;
			font-size:82%;
			text-align:center;
			line-height:30px;
		}
		
		.sponsor .sponsor_image {
			height:70px;
			width:80px;
			margin-top:10px;
			margin-left:50px;
			padding:0;
			border:none;
			border-spacing:0px;
		}
		.sponsor .sponsor_candles {
			width:180px;
			text-align:center;
			height:20px;
			font-family:Arial, Helvetica, sans-serif;
			color:white;
			font-size:16px;
			font-weight:900;
		}
		
		.sponsor .forScroll .sponsor_paragraph {
			float:left;
			width:160px;
			height:80px;
			text-align:center;
			margin:0px 0px 0px 10px;
			word-wrap:break-word;
		}
		.sponsor .mCSB_container {
			margin:0;
		}
		.sponsor .forScroll {
			overflow:auto;
			float:left;
			width:180px;
			height:80px;
		}
		
		
		div.loggedIn {
			float:right;
		margin-top:-5px;
		margin-right:10px;
		font-size:10px;
		}
		
		
		#teamBoxes {
		width:800px;
		display:inline;
		margin-left:70px;
		margin-right:0px;
		margin-bottom:50px;
		font-family:Arial, Helvetica, sans-serif;
		padding:0;
		margin-top:90px;
		float:left;}
		
		#teamBoxes .teamBox {background-image: url('../img/pages_link_background_09.png');
		width:195px;
		height:62px;
		margin-right:50px;
		padding:0;
		float:right;}
		
		
		.teamBox #general{
		float:left;
		width:195px;
		text-align:center;
		font-size:16pt;
		margin-top:18px;
		font-weight:bold;
		text-decoration:none;
		color:white;
		}
		.teamBox #greeks{
		float:left;
		width:195px;
		text-align:center;
		margin-top:18px;
		font-size:16pt;
		font-weight:bold;
		text-decoration:none;
		color:white;
		}
		.teamBox #cadets{
		float:left;
		width:195px;
		text-align:center;
		font-size:16pt;
		margin-top:18px;
		font-weight:bold;
		text-decoration:none;
		color:white;
		}
		
		
		#top #header .nav{display:block;
		font-weight:bold;
		margin-bottom:-10px;}
		
		#notSigned {
			background-image:url("../img/not_signed.png");
			float:right;
			width:155px;
			height:66px;
			margin-right:220px;
		}
		
		
		
		/* General */
		
		#pagesBkg{
		margin-top:35px;
		margin-left:25px;
		height:500px;
		width:910px;
		box-shadow:0px 4px 5px #222222;
		border-radius:30px;
		}
		
		#pagesBkg #teamBoxes {
		width:800px;
		display:inline;
		margin-left:50px;
		margin-right:0px;
		margin-bottom:50px;
		font-family:Arial, Helvetica, sans-serif;
		padding:0;
		margin-top:50px;
		float:left;}
		
		#pagesBkg #pagesHeaderBkg{background-image:url('../img/pages_header_05.png');
		width:910px;
		height:42px;
		}
		
		#pagesBkg #pagesHeaderBkg #pagesHeaderTxt{
		font-size:130%;
		text-indent:25px;
		line-height:34pt;}
		
		#pagesBkg #pagesHeaderBkg #pagesBack{
			float:right;
			list-style-type: none;
			margin-top:-50px;
			margin-right:20px;
		}
		
		#pagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink {
			display:inline;
			color:white;
		}
		
		#pagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink a {
		color: white;
		font-family: Arial;
		text-decoration:none;
		font-size:12px;
		}
		
		#pagesBkg .search {
			position:relative;
			top:33px;
			left:240px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#pagesBkg .searchHow {
			top:33px;
			left:240px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		#pagesBkg #searchBox {
			color:none;
			width:120px;
			border-radius:2px;
		}
		
/* Table */
		
		#pagesCheck{
		margin-top:0px;
		margin-left:27px;
		width:855px;
		height:400px;
		box-shadow:0px 4px 5px #222222;
		}
		#pagesCheck #forScroll {
		float:left;
		height:350px;
		width:100%;
		overflow: hidden;
		}
		#pagesCheck #forScroll #table {
			float:left;
			margin-top:0px;
			margin-left:0px;
			border:none;
			border-spacing:0px;
			width:100%;
			border-collapse: separate;
		}
		#pagesCheck #forScroll #table #team_table_body {
			box-shadow:none;
			border:none;
			border-color:none;
			border-spacing:0px;
			width:100%;
			height:100%;
		}
		#pagesCheck #sorterHeader {
			float:left;
			margin-left:0px;
			background-image: url('../img/everyone_sorter_background_11.png');
			width:100%;
		}
		#pagesCheck #sorterHeader .sorterPosition {
			float:left;
			width:48px;
			text-align:center;
			margin-top:10px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
		}
		#pagesCheck #sorterHeader .sorterTeamName {
			float:left;
			width:340px;
			text-align:left;
			height:27px;
			padding-top:11px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
			border-left: 2px solid #222222;
		}
		
		#pagesCheck #sorterHeader th {
		cursor:pointer;
		}
		
		#pagesCheck #sorterHeader .sorterOther {
		float:left;
		width:110px;
		height:27px;
		padding-top:11px;
		text-align: center;
		font-weight: bold;
		color: white;
		font-size:12px;
		border-left: 2px solid #222222;
		font-family: Arial;
		font-weight:bold;
		}
		
		#pagesCheck #forScroll #table #team_table_body .teamRow {
			float:left;
			width:100%;
			margin-top:10px;
			list-style-type:none;
			border-spacing:0px;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#pagesCheck #forScroll #table #team_table_body .teamRow #position {
			float:left;
			text-align:center;
			width:48px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		
		#pagesCheck #forScroll #table #team_table_body .teamRow .team_name {
			float:left;
			text-align:left;
			width:342px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		table {
		border-spacing:0px;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow #team_donation_milestone_candles {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow #team_email_milestone_candles {
		float:left;
		border:none;
		width:114px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow #team_event_milestone_candles {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow #team_candles {
		border:none;
		margin-left:25px;
		width:90px;
		text-align:center;
		}
		
		
		
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowPosition {
			float:left;
			text-align:center;
			width:48px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowFirstName {
			float:left;
			text-align:left;
			width:342px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		table {
		border-spacing:0px;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowMilestone {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowEmails {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowEvents {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowTotal {
		float:left;
		margin-left:26px;
		border:none;
		width:60px;
		text-align:center;
		}

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		/* Home */
		
		/*
		#homePagesCheck{
		float:left;
		margin-top:60px;
		margin-left:50px;
		width:855px;
		height:400px;
		box-shadow:0px 4px 5px #222222;
		}
		#homePagesCheck #forScroll {
		float:left;
		height:350px;
		width:100%;
		}
		#homePagesCheck #forScroll #table {
			float:left;
			margin-top:0px;
			margin-left:0px;
			border:none;
			border-spacing:0px;
			width:100%;
			border-collapse: separate;
		}
		#homePagesCheck #forScroll #table #team_table_body {
			box-shadow:none;
			border:none;
			border-color:none;
			border-spacing:0px;
			width:100%;
			height:100%;
		}
		#homePagesCheck #sorterHeader {
			float:left;
			margin-left:0px;
			background-image: url('../img/everyone_sorter_background_11.png');
			width:100%;
		}
		#homePagesCheck #sorterHeader .sorterPosition {
			float:left;
			width:48px;
			text-align:center;
			margin-top:10px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
		}
		#homePagesCheck #sorterHeader .sorterTeamName {
			float:left;
			width:340px;
			text-align:left;
			height:27px;
			padding-top:11px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
			border-left: 2px solid #222222;
		}
		
		#homePagesCheck #sorterHeader th {
		cursor:pointer;
		}
		
		#homePagesCheck #sorterHeader .sorterOther {
		float:left;
		width:110px;
		height:27px;
		padding-top:11px;
		text-align: center;
		font-weight: bold;
		color: white;
		font-size:12px;
		border-left: 2px solid #222222;
		font-family: Arial;
		font-weight:bold;
		}
		
		#homePagesCheck #forScroll #table #team_table_body .teamRow {
			float:left;
			width:100%;
			margin-top:20px;
			list-style-type:none;
			border-spacing:0px;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#homePagesCheck #forScroll #table #team_table_body .teamRow #teamRowPosition {
			float:left;
			text-align:center;
			width:48px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		
		#homePagesCheck #forScroll #table #team_table_body .teamRow .teamRowFirstName {
			float:left;
			text-align:left;
			width:342px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		table {
		border-spacing:0px;
		}
		#homePagesCheck #forScroll #table #team_table_body .teamRow #teamRowMilestone {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#homePagesCheck #forScroll #table #team_table_body .teamRow #teamRowEmails {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#homePagesCheck #forScroll #table #team_table_body .teamRow #teamRowEvents {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#homePagesCheck #forScroll #table #team_table_body .teamRow #teamRowTotal {
		float:left;
		border:none;
		width:70px;
		text-align:right;
		}
		*/
		
		
		
		
		
		
		
		
		
		
		/* Greek */
		
		
		#greekPagesBkg{
		margin-top:35px;
		margin-left:25px;
		height:500px;
		width:910px;
		box-shadow:0px 4px 5px #222222;
		border-radius:30px;
		}
		
		#greekPagesBkg #pagesHeaderBkg{background-image:url('../img/pages_header_05.png');
		width:910px;
		height:42px;
		}
		
		#greekPagesBkg #pagesHeaderBkg #pagesHeaderTxt{
		font-size:130%;
		text-indent:25px;
		line-height:34pt;}
		
		#greekPagesBkg #pagesHeaderBkg #pagesBack{
			float:right;
			list-style-type: none;
			margin-top:-50px;
			margin-right:20px;
		}
		
		#greekPagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink {
			display:inline;
			color:white;
		}
		
		#greekPagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink a {
		color: white;
		font-family: Arial;
		text-decoration:none;
		font-size:12px;
		}
		
		
		
		
/* Table */
		
		#greekPagesBkg .search {
			position:relative;
			top:33px;
			left:240px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#greekPagesBkg #searchBox {
			color:none;
			width:120px;
			border-radius:2px;
		}

		
		#greekPagesCheck{
		float:left;
		margin-top:0px;
		margin-left:27px;
		width:855px;
		height:370px;
		box-shadow:0px 4px 5px #222222;
		}
		#greekPagesCheck #forScroll {
		float:left;
		height:310px;
		width:100%;
		}
		#greekPagesCheck #forScroll #table {
			float:left;
			margin-top:0px;
			margin-left:0px;
			border:none;
			border-spacing:0px;
			width:100%;
			border-collapse: separate;
		}
		#greekPagesCheck #forScroll #table #team_table_body {
			box-shadow:none;
			border:none;
			border-color:none;
			border-spacing:0px;
			width:100%;
			height:100%;
		}
		#greekPagesCheck #sorterHeader {
			float:left;
			margin-left:0px;
			background-image: url('../img/everyone_sorter_background_11.png');
			width:100%;
		}
		#greekPagesCheck #sorterHeader .greekSorterPosition {
			float:left;
			width:48px;
			text-align:center;
			margin-top:10px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
		}
		#greekPagesCheck #sorterHeader .greekSorterTeamName {
			float:left;
			width:340px;
			text-align:left;
			height:27px;
			padding-top:11px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
			border-left: 2px solid #222222;
		}
		
		#greekPagesCheck #sorterHeader th {
		cursor:pointer;
		}
		
		#greekPagesCheck #sorterHeader .greekSorterOther {
		float:left;
		width:85px;
		height:27px;
		padding-top:11px;
		text-align: center;
		font-weight: bold;
		color: white;
		font-size:12px;
		border-left: 2px solid #222222;
		font-family: Arial;
		font-weight:bold;
		}
		
		#greekPagesCheck #forScroll #table #team_table_body .greekRow {
			float:left;
			width:100%;
			margin-top:10px;
			list-style-type:none;
			border-spacing:0px;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowPosition {
			float:left;
			text-align:center;
			width:48px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		
		#greekPagesCheck #forScroll #table #team_table_body .greekRow .greekRowFirstName {
			float:left;
			text-align:left;
			width:342px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		table {
		border-spacing:0px;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowDonation {
		float:left;
		border:none;
		width:87px;
		text-align:center;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow p {
		display:inline;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowRegistration {
		float:left;
		border:none;
		width:87px;
		text-align:center;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowEvents {
		float:left;
		border:none;
		width:87px;
		text-align:center;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowTshirt {
		float:left;
		border:none;
		width:87px;
		text-align:center;
		}
		#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowTotal {
		float:left;
		border:none;
		width:57px;
		text-align:right;
		}
		
		
		
		
		
		
		
		
		
		
		
		/* SignUp */
		
		
		
		
		
		
		
		/* Structure */
		
		#signUpBkg{
		margin-top:35px;
		margin-left:25px;
		height:460px;
		width:910px;
		box-shadow:0px 4px 5px #222222;
		border-radius:30px;
		}
		#signUpBkg #signUpCandles {
			float:left;
			height:100%;
			width:450px;
			margin:0;
			padding:0;
		}
		#signUpBkg #signUpRelay {
			float:right;
			width:48%;
			height:100%;
		}
		#signUpRelayTxt{
			float:right;
			margin-top:0px;
			margin-right:25px;
		font-size:130%;
		line-height:34pt;}
		
		#signUpBkg #signUpRelay #boxes{
			float:right;
			margin-top:50px;
		}
		#signUpBkg #signUpRelay #boxes .box {
			background-image: url('../img/pages_link_background_09.png');
		width:195px;
		height:62px;
		margin-top:40px;
		margin-right:120px;
		padding:0;
		float:right;
		}
		
		#signUpBkg #signUpRelay #boxes .box a{
		float:left;
		width:195px;
		font-size:16px;
		text-align:center;
		margin-top:19px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		text-decoration:none;
		color:white;
		}
		
		
		
		#signUpBkg #signUpHeaderBkg{
			float:left;
			margin-right:0px;
			margin-top:0px;
			background-image:url('../img/pages_header_05.png');
		width:910px;
		height:42px;
		}
	
		#signUpCandlesTxt{
			float:left;
			margin:0;
		font-size:130%;
		text-indent:25px;
		line-height:34pt;}
		
/* Form */		
		
		
		.signUpTxt{
			float:left;
			margin-top:35px;
			margin-left:30px;
		width:350px;
		font-family:Arial, Helvetica, sans-serif;
		color:white;
		left:30px; 
		}
		
		.signUpEntry {
			position:relative;
			width:200px;
			border-radius:3px;
			z-index:-1;
		}
		
		#signUpSubmit {

			position:relative;
			top:300px;
			left:250px;
			width:120px;
		height:30px;
		background: #303;
		border:1px solid #3A3078;
		color:white;
		border-radius: 5px;
		}
		
		#signUpSubmit:hover{background: #2C3B7C; }
		
		#signUpBkg #divider {
			float:left;
			margin-top:80px;
			margin-left:10px;
			width:1px;
			height:350px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}


/* Sign up Table */
		
		
		#signUpCheck{
		height:210px;
		width:340px;
		margin-top:20px;
		margin-left:30px;
		box-shadow:0px 2px 2px #222222;
		}
		#signUpCheck #forScroll {
		float:left;
		height:171px;
		width:340px;
		}
		#signUpCheck #forScroll .mCSB_container {
			margin:0;
		}
		
		#signUpCheck #forScroll #table {
			float:left;
			margin-left:0px;
			margin-top:0px;
			border-collapse: separate;
		border-spacing: 0;
		width:100%;
		height:100%;
		}
		#signUpCheck #forScroll #table #team_table_body {
			box-shadow:none;
			border-color:none;
			border-spacing:none;
			width:100%;
			height:100%;
			border:none;
		}
		#signUpCheck #sorterHeader {
			float:left;
			margin-left:0px;
			background-image: url('../img/everyone_sorter_background_11.png');
			height:39px;
			width:100%;
		}
		
		#signUpCheck #sorterHeader .sorterTeamName {
			float:left;
			text-align:left;
			padding:12px 0 0 20px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:bold;
			font-size:12px;
		}
		
		

		#signUpCheck #forScroll #table #team_table_body .signUpTeamRow {
			float:left;
			width:100%;
			list-style-type:none;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		#signUpCheck #forScroll #table #team_table_body .signUpTeamRow:hover {
			float:left;
			width:100%;
			list-style-type:none;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			background-color:#003;
		}
		#signUpCheck #forScroll #table #team_table_body .signUpTeamRowFirstName {
			float:left;
			width:100%;
			padding-left:0px;
			padding-top:10px;
			border:none;
			font-size:12px;
			font-family:arial;
			cursor:hand;
			cursor:pointer;
		}

		
		#highlight {
			background-color:#330033;
		}
		
		.highlight {
			background-color:#330033;
		}
		
		
		
		
		
		
		/*Attendance*/
		
		
		#attendanceBkg{ 
		float: left;
		position:relative;
		width:591px;
		height:260px;
		top:100px;
		left:10px;
		background-image:url('../img/attendance_bkg_07.png');
		}
		
		#signin  { width:90%;
		position:relative;
		left:30px; 
		margin-top:30px;}
		
		#signin #guest { width:50px; 
		margin-top:10px;
		position:;
		right:100px;
		float:right;}
		
		#signInSubmit {

			position:relative;
			top:300px;
			left:250px;
			width:120px;
		height:30px;
		background: #303;
		border:1px solid #3A3078;
		color:white;
		border-radius: 5px;
		}
		
		#signInSubmit:hover{background: #2C3B7C; }
		
		input.signin {float:right;
		margin-top:10px;}

		
		#head {color: white;
		font-family: Arial;
		text-decoration: underline;
		}
		
		#login { width:40%;
		height: 400px;
		float:left;
		border-style:solid;
		margin:80px 0 0 40px;
		border-radius:20px;
		}
		
		#signin label {font-size: 22px;
		color: white;
		font-family: Arial;
		line-height: 200%;}
		
		
		
		
		
		
		/* How It Works */
		

		
		#howItWorksBkg .search {
			position:relative;
			top:541px;
			left:240px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		#howItWorksBkg #searchBox {
			color:none;
			width:120px;
			border-radius:2px;
		}
		
		
		#howItWorksBkg{
		margin-top:35px;
		margin-left:25px;
		height:900px;
		width:910px;
		box-shadow:0px 4px 5px #222222;
		border-radius:30px;
		}
		
		#howItWorksBkg #pagesHeaderBkg{background-image:url('../img/pages_header_05.png');
		width:910px;
		height:42px;
		}
		
		#howItWorksBkg #pagesHeaderBkg #pagesHeaderTxt{
		font-size:130%;
		text-indent:25px;
		line-height:34pt;}
		
		#howItWorksBkg #pagesHeaderBkg #pagesBack{
			float:right;
			list-style-type: none;
			margin-top:-50px;
			margin-right:20px;
		}
		
		#howItWorksBkg #pagesHeaderBkg #pagesBack .pagesBackLink {
			display:inline;
			color:white;
		}
		
		#howItWorksBkg #pagesHeaderBkg #pagesBack .pagesBackLink a {
		color: white;
		font-family: Arial;
		text-decoration:none;
		font-size:12px;
		}
		
		#art {
			float:left;
			margin-left:27px;
			margin-top:10px;
			background-image:url("../img/how-it-works-art_02.png");
			width:855px;
			height:80px;
		}
		
		#howItWorksCheck{
			float:left;
		margin-top:0px;
		margin-left:27px;
		width:855px;
		height:100px;
		box-shadow:0px 4px 5px #222222;
		}
		#howItWorksCheck #forScroll {
		float:left;
		height:150px;
		width:100%;
		}
		#howItWorksCheck #forScroll #table {
			float:left;
			margin-top:0px;
			margin-left:0px;
			border:none;
			border-spacing:0px;
			width:100%;
			border-collapse: separate;
		}
		#howItWorksCheck #forScroll #table #team_table_body {
			box-shadow:none;
			border:none;
			border-color:none;
			border-spacing:0px;
			width:100%;
			height:100%;
		}
		#howItWorksCheck #sorterHeader {
			float:left;
			margin-left:0px;
			background-image: url('../img/everyone_sorter_background_11.png');
			width:100%;
		}
		#howItWorksCheck #sorterHeader .sorterPosition {
			float:left;
			width:48px;
			text-align:center;
			margin-top:10px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
		}
		#howItWorksCheck #sorterHeader .sorterTeamName {
			float:left;
			width:340px;
			text-align:left;
			height:27px;
			padding-top:6px;
			padding-bottom:3px;
			color:white;
			font-size:12px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
			border-left: 2px solid #222222;
		}
		
		#howItWorksCheck #sorterHeader th {
		cursor:pointer;
		}
		
		#howItWorksCheck #sorterHeader .sorterOther {
		float:left;
		width:110px;
		height:27px;
		padding-top:11px;
		text-align: center;
		font-weight: bold;
		color: white;
		font-size:12px;
		border-left: 2px solid #222222;
		font-family: Arial;
		font-weight:bold;
		}
		
		#howItWorksCheck #forScroll #table #team_table_body .teamRow {
			float:left;
			width:100%;
			margin-top:20px;
			list-style-type:none;
			border-spacing:0px;
			box-shadow:none;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
		}
		
		#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowPosition {
			float:left;
			text-align:center;
			width:48px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		
		#howItWorksCheck #forScroll #table #team_table_body .teamRow .teamRowFirstName {
			float:left;
			text-align:left;
			width:342px;
			border:none;
			font-size:12px;
			font-family:arial;
		}
		table {
		border-spacing:0px;
		}
		#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowMilestone {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowEmails {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowEvents {
		float:left;
		border:none;
		width:112px;
		text-align:center;
		}
		#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowTotal {
		float:left;
		border:none;
		width:70px;
		text-align:right;
		}
		
		
		#explanation {
			float:left;
			margin-top:0px;
			margin-left:27px;
		}
		#explanation #sweet {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#explanation #awesome {
			float:left;
			margin-top:0px;
			height:600px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#explanation #shizam {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		
		#explanation #tabs {
			float:left;
		}
		
		#explanation #tabs #system {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#explanation #tabs #faq {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#explanation #tabs #comment {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#explanation #tabs p {
			float:left;
			width:100%;
			text-align:center;
			margin:0;
			padding-top:2px;
		}
		
		
		#explanation .text {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#explanation .text #intro {
			float:left;
			height:120px;
			width:820px;
			margin-left:20px;
			margin-top:20px;
		}
		#explanation .text #intro h3 {
			float:left;
			margin:0;
		}
		#explanation .text #intro p {
			margin:0;
			padding-top:10px;
			float:left;
		}
		#explanation .text #ways {
			margin-top:0px;
		}
		#explanation .text #ways .way {
			float:left;
			display:box;
			width:250px;
			margin-left:20px;
		}
		#explanation .text #ways .way h3 {
			float:left;
			margin-left:0px;
			margin-bottom:0px;
			margin-top:0px;
		}
		#explanation .text #ways .way p {
			float:left;
			margin-left:0px;
			margin-right:0px;
			margin-top:10px;
			padding-top:0px;
			width:250px;
			height:100%;
		}
		#explanation .text #ways .way p a {
			text-decoration:none;
			color:white;
			font-weight:900;
			font-family:Arial, Helvetica, sans-serif;
		}
		#explanation .text #ways .divider {
			float:left;
			margin-top:0px;
			margin-left:20px;
			width:1px;
			height:150px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		
		.dividerHoriz {
			float:left;
			margin-top:10px;
			margin-bottom:15px;
			margin-left:40px;
			margin-right:70px;
			width:300px;
			height:1px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		
		#explanation .text #milestones {
			float:left;
			height:400px;
			width:300px;
		}
		#explanation .text #milestones h3 {
			margin-left:20px;
			margin-top:20px;
		}
		#explanation .text #milestones p {
			margin-left:30px;
			margin-top:20px;
		}
		#explanation .text .divider {
			float:left;
			margin-top:50px;
			margin-left:20px;
			width:1px;
			height:300px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		#explanation .text #milestoneDescription {
			float:left;
			height:400px;
			width:490px;
			margin:0;
		}
		#explanation .text #milestoneDescription h3 {
			margin-left:30px;
		}
		#explanation .text #milestoneDescription p {
			margin-left:30px;
			margin-bottom:0px;
		}
		#explanation .text #milestoneDescription table {
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			margin-left:30px;
			margin-top:20px;
			border-bottom-color:white;
			border:thin;
			display:table;
		}
		#explanation .text #milestoneDescription table tbody {
			border-bottom-color:white;
			display:table;
		}
		#explanation .text #milestoneDescription td {
			width:120px;
			text-align:center;
		}
		
		
		#explanation .text #emails {
			float:left;
			height:400px;
			width:300px;
		}
		#explanation .text #emails h3 {
			margin-left:20px;
			margin-top:20px;
		}
		#explanation .text #emails p {
			margin-left:30px;
			margin-top:20px;
		}
		#explanation .text .divider {
			float:left;
			margin-top:50px;
			margin-left:20px;
			width:1px;
			height:300px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		#explanation .text #emailsDescription {
			float:left;
			height:400px;
			width:490px;
			margin:0;
		}
		#explanation .text #emailsDescription h3 {
			margin-left:30px;
		}
		#explanation .text #emailsDescription p {
			margin-left:30px;
			margin-bottom:0px;
		}
		#explanation .text #emailsDescription #emailsWeb {
			background-image:url("../img/emails.png");
			float:left;
			margin-top:20px;
			margin-left:30px;
			width:469px;
			height:193px;
		}
		
		
		.hideTab{
			display:none;
		}
		
		#explanation #sweet {
		display:none;
		}
		#explanation #awesome {
		display:none;
		}
		
		
		
/*Greek Explanation */


		#greekExplanation {
			float:left;
			margin-top:0px;
			margin-left:27px;
		}
		#greekExplanation #cool {
			float:left;
			margin-top:0px;
			height:580px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#greekExplanation #sweet {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#greekExplanation #awesome {
			float:left;
			margin-top:0px;
			height:600px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#greekExplanation #shizam {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		
		#greekExplanation #tabs {
			float:left;
		}
		
		#greekExplanation #tabs #system {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#greekExplanation #tabs #faq {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#greekExplanation #tabs #comment {
			float:left;
			margin-left:20px;
			height:20px;
			width:100px;
			border-radius:3px;
			box-shadow:0 -2px 5px #222;
			cursor:hand;
			cursor:pointer;
			display:inline;
		}
		#greekExplanation #tabs p {
			float:left;
			width:100%;
			text-align:center;
			margin:0;
			padding-top:2px;
		}
		
		
		#greekExplanation .text {
			float:left;
			margin-top:0px;
			height:400px;
			width:855px;
			box-shadow:0 0px 10px #222;
		}
		#greekExplanation .text #intro {
			float:left;
			height:120px;
			width:820px;
			margin-left:20px;
			margin-top:20px;
		}
		#greekExplanation .text #intro h3 {
			float:left;
			margin:0;
		}
		#greekExplanation .text #intro p {
			margin:0;
			padding-top:10px;
			float:left;
		}
		
		
		
		#greekExplanation .text #waysTop {
			float:left;
			margin-top:0px;
			margin-left:20px;
		}
		
		#greekExplanation .text #waysTop .way {
			float:left;
			display:block;
			width:360px;
			margin-left:0px;
			margin-right:0px;
		}
		#greekExplanation .text #waysTop .way h3 {
			margin-left:0px;
			margin-bottom:0px;
			margin-top:0px;
		}
		#greekExplanation .text #waysTop .way p {
			margin-left:0px;
			margin-right:0px;
			margin-top:10px;
			padding-top:0px;
			width:360px;
			height:100%;
		}
		#greekExplanation .text #waysTop .way p a {
			text-decoration:none;
			color:white;
			font-weight:900;
			font-family:Arial, Helvetica, sans-serif;
		}
		#greekExplanation .text #waysTop .divider {
			float:left;
			margin-top:0px;
			margin-left:15px;
			margin-right:30px;
			width:1px;
			height:150px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		
		
		#greekExplanation .text #waysBottom {
			margin-left:20px;
			margin-top:350px;
		}
		
		#greekExplanation .text #waysBottom .way {
			float:left;
			display:block;
			width:360px;
			margin-left:0px;
			margin-right:0px;
		}
		#greekExplanation .text #waysBottom .way h3 {
			margin-left:0px;
			margin-bottom:0px;
			margin-top:0px;
		}
		#greekExplanation .text #waysBottom .way p {
			margin-left:0px;
			margin-right:0px;
			margin-top:10px;
			padding-top:0px;
			width:360px;
			height:100%;
		}
		#greekExplanation .text #waysBottom .way p a {
			text-decoration:none;
			color:white;
			font-weight:900;
			font-family:Arial, Helvetica, sans-serif;
		}
		#greekExplanation .text #waysBottom .divider {
			float:left;
			margin-top:20px;
			margin-left:15px;
			margin-right:30px;
			width:1px;
			height:150px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		
		
		
		
		
		
		#greekExplanation .text #milestones {
			float:left;
			height:400px;
			width:300px;
		}
		#greekExplanation .text #milestones h3 {
			margin-left:20px;
			margin-top:20px;
		}
		#greekExplanation .text #milestones p {
			margin-left:30px;
			margin-top:20px;
		}
		#greekExplanation .text .divider {
			float:left;
			margin-top:50px;
			margin-left:20px;
			width:1px;
			height:300px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		#greekExplanation .text #milestoneDescription {
			float:left;
			height:400px;
			width:490px;
			margin:0;
		}
		#greekExplanation .text #milestoneDescription h3 {
			margin-left:30px;
		}
		#greekExplanation .text #milestoneDescription p {
			margin-left:30px;
			margin-bottom:0px;
		}
		#greekExplanation .text #milestoneDescription table {
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			margin-left:30px;
			margin-top:20px;
			border-bottom-color:white;
			border:thin;
			display:table;
		}
		#greekExplanation .text #milestoneDescription table tbody {
			border-bottom-color:white;
			display:table;
		}
		#greekExplanation .text #milestoneDescription td {
			width:120px;
			text-align:center;
		}
		
		
		#greekExplanation .text #emails {
			float:left;
			height:400px;
			width:300px;
		}
		#greekExplanation .text #emails h3 {
			margin-left:20px;
			margin-top:20px;
		}
		#greekExplanation .text #emails p {
			margin-left:30px;
			margin-top:20px;
		}
		#greekExplanation .text .divider {
			float:left;
			margin-top:50px;
			margin-left:20px;
			width:1px;
			height:300px;
			background-color:#333;
			box-shadow:0 -2px 5px #222;
			display:inline;
		}
		#greekExplanation .text #emailsDescription {
			float:left;
			height:400px;
			width:490px;
			margin:0;
		}
		#greekExplanation .text #emailsDescription h3 {
			margin-left:30px;
		}
		#greekExplanation .text #emailsDescription p {
			margin-left:30px;
			margin-bottom:0px;
		}
		#greekExplanation .text #emailsDescription #emailsWeb {
			background-image:url("../img/emails.png");
			float:left;
			margin-top:20px;
			margin-left:30px;
			width:469px;
			height:193px;
		}
		
		#greekExplanation #sweet {
		display:none;
		}
		#greekExplanation #awesome {
		display:none;
		}